

ul {
    list-style-type: none;
    margin:20px;
    padding-top: 20px;
    padding-bottom:20px;
  }
    li:hover{
    background-color:rgb(125, 150, 155);
  }
  li {
    display: inline;
    padding:10px;
    text-shadow: 10px;
  }

    h1 {
        color:rgb(89, 153, 155);
        }
        
        p {
        color:rgb(245, 130, 237);
        text-align: justify;
        }
        
        .paragraph {
            background-color: rgb(237, 190, 226);
            width: 100%;
            padding:10px;
        }


    #pie-de-pagina {
            background-color: white;
            width: auto;
            text-align:justify;
            margin-top:20px;
            padding:1cm;
            display:flex;

            }
    .column_footer{
      flex:50%;
      padding:5px;
      height: auto;
      align-items:space-between;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .contenedor_1 {
        margin:20px
    }


    .flex-container{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap:wrap;
      border: 2px solid rgb(255, 255, 255);
    }

    .flex-container div{
      background-color: lightpink;
      width: 50%;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 20px;
      border: 2px solid rgb(255, 255, 255);
    }
    .item {
      flex-shrink: 3;
    }
    
    .parent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      }

      body {
        background-image: url("../img/dqs.jpeg");
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
      
      .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #03afff;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      .grid-item:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
      }
      
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
      }

      /* carrusel */
      .carousel-inner > .item > img {
        width: 80%;
        margin: auto;
      }
      
      /* Footer  */
      .footer__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:#2f2d30;
        padding:20px;
      }
      .footer__div__sellos {
        margin-top: 0.625rem;
        margin-left: 0.625rem;
        padding:20px;
      }
      .footer__div__items{
        line-height: 2rem;
        width:50%;
  
      }
      .footer__p {
        font-size: 1.5rem;
        font-family: 'raleway', serif;
        font-weight: light;
      }
      .footer__p--datos{
        font-family: 'raleway', serif;
        text-align: left;
        font-size: 2rem;
        font-weight: light;
        margin-bottom: 3.12rem;
      }
      .footer__items__redes{
        display: inline;
        margin:0.5rem;
      }
      .footer__div__derechos{
        height: 10rem;
        margin-left: 0.1rem;
        display: flex;
        align-items: flex-end;
  
      }
      .footer__link__redes{
        color: #2f2d30;
        margin:0.5em;
      }

      /* fav */
      .footer__icon__facebook{
        color:#4267B2;
        font-size: 25px;
      }
      .footer__icon__instagram {
        color: #E1306C;
        font-size: 25px;
      }
      /* media query footer */
    
      @media only screen and (max-width:420px){
        .footer__container{
            display: flex;
            flex-direction: column;
        }
        .footer__p--mail{
            font-size: 1.5rem;
        }
        .footer__p{
            font-size: 1.3rem;
        }
        .footer__link__redes{
            color:#2f2d30;
        }
        
      }
      @media only screen and (min-width:421px) and (max-width:960px){
        /* media query footer */
        .footer__container{
            display: flex;
            flex-direction: column;
        }
        .footer__p--mail{
            font-size: 1.5rem;
        }
        .footer__p{
            font-size: 1.3rem;
        }
        .footer__link__redes{
            color: black;
            font-size: 1.3rem;
        }
      
      }

/* formulario */
  .form-group {
    margin-bottom: 20px;
    
  }
  .content-form{
    width:70%;
    margin:auto;
    background-color:white;
    padding:10px;
    border: 3px solid black;
  }

/* media */
  @media (max-width: 768px) {
    .form-group {
      margin-bottom: 10px;
      
    }
  }



  .form-group {
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    .form-group {
      margin-bottom: 10px;
    }
  }

 /* fin footer */

